.library-song {
  //   background-color: red;
  display: flex;
  direction: row;
  align-items: center;
  // justify-content: center;
  padding: 2rem 0.5rem 2rem 0.5rem;
  img {
    width: 30%;
    margin-left: 2rem;
    // padding-left: 2rem;
  }

  &:hover {
    background: rgb(235, 235, 235);
  }
}

.info {
  padding-left: 1rem;
  // padding-right: 0.5rem;

  h3 {
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
  }
  h4 {
    font-size: 1rem;
  }
}

.selected {
  background: rgb(235, 235, 235);
}
