.navbar {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    border: 2px solid black;
    padding: 0.85rem;
    transition: all 0.5s ease;

    &:hover {
   
      background-color: #3f0d12;
      background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
      border: 2px solid black;
      color: white;
    }
  }
}

@media screen and (max-width: 550px) {
  .lib-selected {
    background-color: white;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    button {
      background-color: #3f0d12;
      background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
      border: 2px solid black;
      color: white;
      transition: all 0.1s ease;
    }
  }
}
