* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}
body {
  font-family: "Lato", sans-serif;
}

h3,
h4 {
  font-weight: 400;
  color: rgb(100, 100, 100);
}

.App {
  transition: all 1s ease;
  max-height: 100vh;
}

.library-active {
  margin-left: 10%;

}

@media screen and (max-width: 550px) {
  .library-active {
    position: absolute;
    top:10vh;
    transition: all 1s ease;
  }
  .song-container{
    width: 100%;
  }

}

@import "./player";
@import "./song";
@import "./library";
@import "./librarySongs";
@import "./nav";
